@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:ital@1&display=swap');
#content
{
    max-width: 1600px;
    margin: 0 auto;
}
/*Header*/
header
{
    background-color: #CDB4DB;
    display: grid;
    grid-template-columns: 150px auto;
}
nav
{
    display: flex;
    justify-content: space-around;
}
nav a
{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 50px;

}
nav a:hover
{
    background-color: #BDE0FE;
    color: white ;

}

#logo_link
{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo
{
    width: 120px;
}

.icon
{
    width: 80px;
    padding-top: 10px;
}
/*Home Message*/
#home
{
    background-color: #A2D2FF;
    padding: 50px;
}
#home-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    color: white;

}

#home-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;

}
/*Groups*/
#groups
{
    background-color: #CDB4DB;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin-top: 30px;
    
}
#group-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-left: 500px;
    color: white;
}
#group-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 25px;

}

.group-image
{
    float: right;
    padding: 25px;
    margin-top: 140px;
    transition: transform .5s;

}

.group-image:hover
{
    opacity: .6;
    transform: scale(1.1);
}

/*Soloist*/
#soloist
{
    background-color: #FFAFCC;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin-top: 30px;
}
#soloist-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-left: 480px;
    color: white;

}

#soloist-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.soloist-image
{
    float: right;
    padding: 25px;
    margin-top: 150px;
    transition: transform .5s;
}

.soloist-image:hover
{
    opacity: .6;
    transform: scale(1.1);
}
/*Images*/
.link-images
{   
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
/*Groups Page*/
#groups-home h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #A2D2FF
}
#groups-home h2
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: #A2D2FF;
    text-align: center;
}

#Seventeen
{
    padding: 150px 100px;
}
.seventeen-image
{
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
#Twice
{
    padding: 150px 100px;
}
.twice-image
{
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
/*Soloist Page*/
#soloist-home h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #A2D2FF
}
#soloist-home h2
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: #A2D2FF;
    text-align: center;
}
#Yena
{
    padding: 150px 100px;
}
.Yena-image
{
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
#Eunbi
{
    padding: 150px 100px;
}
.Eunbi-image
{
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
/*Footer*/
footer
{
    background-color: #CDB4DB;
    color: #EBF2FA;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
}
footer p
{
    text-decoration: none;
}

/*--primary-color: #BDE0FE   ;
  --secondary-color: #CDB4DB;
  --accent1-color: #A2D2FF;
  --accent2-color: #FFAFCC;*/