@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:ital@1&display=swap');
#content
{
    max-width: 1600px;
    margin: 0 auto;
}
/*Header*/
header
{
    background-color: #CDB4DB;
    display: grid;
    grid-template-columns: 150px auto;
}
nav
{
    display: flex;
    justify-content: space-around;
}
nav a
{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 50px;

}
nav a:hover
{
    background-color: #BDE0FE;
    color: white ;

}

#logo_link
{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo
{
    width: 120px;
}

.icon
{
    width: 80px;
    padding-top: 10px;
}
/*Home Message*/
#home
{
    background-color: #A2D2FF;
    padding: 50px;
}
#home-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    color: white;

}

#home-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;

}
/*Groups*/
#groups
{
    background-color: #CDB4DB;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin-top: 30px;
    
}
#group-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-left: 500px;
    color: white;
}
#group-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 25px;

}

.group-image
{
    float: right;
    padding: 25px;
    margin-top: 140px;
    transition: transform .5s;

}

.group-image:hover
{
    opacity: .6;
    transform: scale(1.1);
}

/*Soloist*/
#soloist
{
    background-color: #FFAFCC;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin-top: 30px;
}
#soloist-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-left: 480px;
    color: white;

}

#soloist-msg h3
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 25px;
}

.soloist-image
{
    float: right;
    padding: 25px;
    margin-top: 150px;
    transition: transform .5s;
}

.soloist-image:hover
{
    opacity: .6;
    transform: scale(1.1);
}
/*Images*/
.link-images
{   
    width: 375px;
    float: right;
    margin-left: 25px;
    margin-bottom: -25px;
}
/*Groups Page*/
#hero 
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: -100px; 
}
#hero-box
{
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
#hero-img
{
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
#hero-msg
{
    grid-column: 2/3;
    grid-row: 2/4;
    background-color:#BDE0FE; /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    
}
#hero-image
{
    width: 100%
}
#hero-msg h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    color: white
}
#hero-msg h2
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}

#Seventeen
{
    background-color: #FFAFCC;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 150px 4fr;
    margin-top: 50px;
}
#seventeen-msg
{
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    padding: 25px;
}

#seventeen-title
{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;

}

.seventeen-image
{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 90%;
    height: 70%;
    margin-top: 75px;
    margin-left: 20px;
}
#Twice
{
    background-color: #BDE0FE ;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 150px 4fr;
    margin-top: 50px;
}
#twice-msg
{
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    padding: 25px;
}

#twice-title
{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;

}

.twice-image
{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 90%;
    height: 70%;
    margin-top: 75px;
    margin-left: 20px;
}
/*Soloist Page*/

#hero-soloist 
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: -100px; 
}
#hero-box-soloist
{
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
}
#hero-img-soloist
{
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
#hero-msg-soloist
{
    grid-column: 2/3;
    grid-row: 2/4;
    background-color:#BDE0FE; /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    text-align: center;
    
}
#hero-image-soloist
{
    width: 100%
}
#hero-msg-soloist h1
{
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    color: white
}
#hero-msg-soloist h2
{
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
#Yena
{
    background-color: #FFAFCC;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 150px 4fr;
    margin-top: 50px;
}
#Yena-msg
{
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    padding: 25px;
}

#Yena-title
{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;

}

.Yena-image
{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 90%;
    height: 70%;
    margin-top: 75px;
    margin-left: 20px;
}
#Eunbi
{
    background-color: #BDE0FE ;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 150px 4fr;
    margin-top: 50px;
}
#Eunbi-msg
{
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Shantell Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    padding: 25px;
}

#Eunbi-title
{
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: 'Gloock','Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white;

}

.Eunbi-image
{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 90%;
    height: 70%;
    margin-top: 75px;
    margin-left: 20px;
}
/*Footer*/
footer
{
    background-color: #CDB4DB;
    color: white;
    padding: 25px 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}
footer a
{
    text-decoration: none;
    color: white;
}
 footer a:hover
 {
    text-decoration: underline;
 }
/*--primary-color: #BDE0FE   ;
  --secondary-color: #CDB4DB;
  --accent1-color: #A2D2FF;
  --accent2-color: #FFAFCC;*/